<!-- <div class="content">
  <a class="header" href='/question/{{question.id}}'>{{ question.body }}</a>
</div> -->

<div class="question" (click)="expandAnswers()">
  <span class="qbody"> {{ question.body }}</span>
  <span class="qcat">{{question.exhibitor[0]}}</span>
  <fa-icon class="qicon" [icon]="faAngleDown"  size="lg"></fa-icon>
  <div class="qanswers" #answers>
    <p>Mogelijke antwoorden:</p>
  <ul *ngFor='let item of question.answers'><li>{{item}}</li></ul>
  <div>
    <p>Antwoorden van uw groepen:</p>
    <ul>
    <li>{{question.groupAnswer}}</li>
    </ul>
  </div>
</div>
  <br class="clearer"/>
</div>
