<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>

    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>BedrijfsLogo</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">                    
                  <a href="homeSubmenu" class="navigatieItem">
                    <i class="fas fa-home"></i>
                    <p class="icontext">Home</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="navigatieItem">
                        <i class="fas fa-briefcase"></i>
                        <p class="icontext">Vragenlijst</p>
                    </a>
                </li>
                <li>
                    <a href="#pageSubmenu" class="navigatieItem">
                        <i class="fas fa-copy"></i>
                        <p class="icontext">Pages</p>
                    </a>
                    
                </li>
                <li>
                    <a href="#" class="navigatieItem">
                        <i class="fas fa-image"></i>
                        <p class="icontext">Portfolio</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="navigatieItem">
                        <i class="fas fa-question"></i>
                        <p class="icontext">FAQ</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="navigatieItem">
                        <i class="fas fa-paper-plane"></i>
                        <p class="icontext">Contact</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">afbeelding gebruiker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Gebruikersnaam</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>