
<div class="row">
<div class="col-xl-3 col-lg-4">
  <div class="m-portlet m-portlet--full-height">
    <div class="m-portlet__body">
      <div class="m-card-profile">
        <div class="m-card-profile__title m--hide">
          Your Profile
        </div>
        <div>
          <div class="m-card-profile__pic-wrapper">
            <img [src]="imageUrl" alt="">
          </div>
        </div>
        <div class="m-card-profile__details">
          <span class="m-card-profile__name">{{group.name}}</span>
          <a href="" class="m-card-profile__email m-link">{{currentUser | async}}</a>
        </div>
      </div>
     
    </div>
  </div>
</div>
<div class="col-xl-9 col-lg-8">
  <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
    <div class="m-portlet__head">
      <div class="m-portlet__head-tools">
      </div>
      <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item m-portlet__nav-item--last">
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
              <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                <i class="la la-gear"></i>
              </a>
              <div class="m-dropdown__wrapper" style="z-index: 101;">
                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                      <ul class="m-nav">
                        <li class="m-nav__section m-nav__section--first">
                          <span class="m-nav__section-text">Quick Actions</span>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-share"></i>
                            <span class="m-nav__link-text">Create Post</span>
                          </a>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                            <span class="m-nav__link-text">Send Messages</span>
                          </a>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                            <span class="m-nav__link-text">Upload File</span>
                          </a>
                        </li>
                        <li class="m-nav__section">
                          <span class="m-nav__section-text">Useful Links</span>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-info"></i>
                            <span class="m-nav__link-text">FAQ</span>
                          </a>
                        </li>
                        <li class="m-nav__item">
                          <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                            <span class="m-nav__link-text">Support</span>
                          </a>
                        </li>
                        <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                        <li class="m-nav__item m--hide">
                          <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Submit</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-portlet__body">
      <form class="m-form m-form--fit m-form--label-align-right">
        <div class="m-portlet__body">
          <div class="form-group m-form__group row">
            <div class="col-10 ml-auto">
              <h3 class="m-form__section">Opgeloste vragen:</h3>
            </div>
          </div>
          <ng-container *ngFor="let question of group.questions" [ngTemplateOutlet]="questionTemplate" [ngTemplateOutletContext]="{question: question}">
          </ng-container>
          
          <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<ng-template #questionTemplate let-question="question">
  <div class="form-group m-form__group row">
    <label for="example-text-input" class="col-2 col-form-label">{{question.question.body}}</label>
    <div class="col-7">
      <input readonly name="antwoord" class="form-control m-input" type="text" [value]="question.answer">
    </div>
  </div>
</ng-template>