/* You can add global styles to this file, and also import other style files */
.question {
   cursor: pointer;
    margin: 10px;
    margin-bottom: 0px;
    margin-top:0px;
   font-size: 25px;
    padding:20px;
    border: none;
    
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 50ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.question:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.qbody {
    font-weight: bold;
    width: 65%;
    float:left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}
.qcat {
    font-weight: bold;
    width:25%;
    float:left;
}
.qicon {
    width:10%;
    float:left;
    margin-top: -4px;
}
.qanswers {
    max-height: 0;
    transition: max-height 0.50s ease-out;
    overflow: hidden;
    float:left;
}
.qanswers.shown {
    max-height: 500px;
    transition: max-height 0.50s ease-in;
}
.clearer {
    clear:both;
}


.group {
    float:left;
    width: 25%;
    margin: 10px;
    font-size: 25px;
     padding:20px;
    
     border: none;
     border-radius: 2px;
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
     transition: box-shadow 50ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.group:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
.gcode {
    float:left;
}
.gdelete {
    float:right;
    cursor: pointer;
    margin: 25px 0;
}
.gchosen {
    clear:both;
}
.test.path {
    background: yellow;
}